* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background: #c490d1;
  text-align: center;
  margin-top: 100px;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  transition: all 0.5s ease;
  background: #a188b5;
  color: #fff;
  margin: 1rem;
}

button:hover {
  background: #c763e0;
  color: #fff;
}

p {
  font-size: 1.5rem;
}
